{% extends "base.html" %}

{% block head %}
<!-- Recursos específicos desta página -->
<!-- <link rel="stylesheet" href="/static/mystyles.css"> -->
{% endblock %}

<!-- Ativação do Menu-->
{% block active_clientes %}active{% endblock %}

<!-- Conteúdo da página -->
{% block content %}

<div class="myContainer mt-2">
    <h3>Clientes</h3>
    <a href="/cliente/add" class="btn btn-primary mb-3">Adicionar Cliente</a>
    <div class="table-responsive">
        <table id="clientesTable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>


                        <a href="/cliente/edit/{{ cliente.id }}" class="btn btn-success">Editar</a>
                        <a href="#" class="btn btn-danger delete-btn"
                            onclick="confirmDelete('{{ cliente.id }}')">Excluir</a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</div>

<script>

    var clientesTable = createDataTable('#clientesTable');

    function deleteData(clientId) {
        window.location.href = '/cliente/delete/' + clientId;
    }

</script>

{% endblock %}