body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

h1 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    color: #666;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #e2f0d9; /* Verde claro */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50; /* Verde mais escuro */
    color: white;
}

a {
    color: #5D5C61;
    text-decoration: none;
    padding: 5px 10px;
}

a:hover {
    text-decoration: underline;
}

.myContainer
{
    margin-left: 10px;
    margin-right: 10px ;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
