{% extends "base.html" %}

{% block head %}
<!-- Recursos específicos desta página -->
<!-- <link rel="stylesheet" href="/static/mystyles.css"> -->
{% endblock %}

<!-- Ativação do Menu-->
{% block active_cursos %}active{% endblock %}

<!-- Conteúdo da página -->
{% block content %}

<div class="myContainer mt-2">
    <h3>Cursos</h3>
    <a href="/curso/add" class="btn btn-primary mb-3">Adicionar Curso</a>
    <div class="table-responsive">
        <table id="cursosTable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for curso in cursos %}
                <tr>
                    <td>{{ curso.id }}</td>
                    <td>{{ curso.nome }}</td>
                    <td>{{ curso.descricao }}</td>
                    <td>{{ curso.preco }}</td>
                    <td>
                        <a href="/curso/edit/{{ curso.id }}" class="btn btn-success">Editar</a>
                        <a href="#" class="btn btn-danger delete-btn"
                            onclick="confirmDelete('{{ curso.id }}')">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</div>

<script>
    var cursosTable = createDataTable('#cursosTable');

    function deleteData(cursoId) {
        // Redireciona para a rota de exclusão
        window.location.href = '/curso/delete/' + cursoId;
    }

</script>

{% endblock %}