<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CrudClientes</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Sistema de Clientes</h1>
    <a href="/add" class="edit-button">Adicionar Cliente</a>
    <br>
    <br>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.email }}</td>
                <td>
                    <a href="/edit/{{ cliente.id }}" class="edit-button">Editar</a>
                    <a href="/delete/{{ cliente.id }}" class="delete-button">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
